body{background:#2f343b;margin:0}

.form{
    width:100%;
    height:auto;
    background:#703030;
    border-radius:10px;
    box-shadow:0 0 40px -10px #000;
    font-family:'Montserrat',sans-serif;position:relative
    
}
.attempts{
    width:700px;
    height:640px;
    background:#703030;
    border-radius:10px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(35vh - 220px) auto;
    padding:15px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;position:relative;
    float:left;
    margin-left: 2em;
    overflow: scroll;
}

h2{margin:5px 0;
padding-bottom:3px;
width:180px;
color:#78788c;
border-bottom:3px solid #78788c

}
textarea{
    width:100%;
    padding:5px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;transition:all .3s;
    border-bottom:2px solid #bebed2
}
select{
    padding:5px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    height:3em;
    font-family:'Montserrat',sans-serif;transition:all .3s;
    color: #bebed2;
}
span{
    padding:5px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;transition:all .3s;
    border-bottom:2px solid #bebed2;
    color: #bebed2;
}
input{
    padding:5px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;transition:all .3s;
    border-bottom:2px solid #bebed2
    
}
input:focus{
    border-bottom:2px solid #78788c
    
}
p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:whitesmoke;
    
}
p{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:whitesmoke;
    
}
button
{
    padding:6px 6px;
    
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    
}
button[type="button"]{
   float:left; 
}
button:hover{
    background:#78788c;
    color:#fff  
}